In [59]:
import gdelt
import pandas as pd

In [77]:
gd2 = gdelt.gdelt(version=2)


events_df = gd2.Search(
    ["2015 Feb 18", "2025 Dec 31"],
    table="events",
    coverage=False,
    output="pd"
)

events_df['SQLDATE'] = pd.to_datetime(
    events_df['SQLDATE'].astype(str),
    format='%Y%m%d',
    errors='coerce'
)

events_df['DATEADDED'] = pd.to_datetime(
    events_df['DATEADDED'].astype(str),
    format='%Y%m%d%H%M%S',
    errors='coerce'
)

In [78]:
events_df['event_lag_days'] = (
    events_df['DATEADDED'] - events_df['SQLDATE']
).dt.days

events_recent = events_df[
    (events_df['event_lag_days'] >= 0) &
    (events_df['event_lag_days'] <= 2)
]

In [79]:
events_recent['event_lag_days'].describe()

count    4.776230e+06
mean     5.825724e-03
std      7.610379e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: event_lag_days, dtype: float64

In [80]:
events_recent.head()

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,event_lag_days
37,411441452,2015-02-21,201502,2015,2015.1397,CAN,CANADA,CAN,NaN,NaN,...,"Minnesota, United States",US,USMN,NaN,45.73260,-93.91960,MN,2015-02-22 23:45:00,http://www.amny.com/news/sen-charles-schumer-n...,1
38,411441453,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,NaN,NI,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1
39,411441454,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,NaN,NI,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1
40,411441455,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,"Niger Delta, Nigeria (general), Nigeria",NI,NI00,23074,4.83333,6.00000,-2020890,2015-02-22 23:45:00,http://nationalmirroronline.net/new/ijaw-youth...,1
41,411441456,2015-02-21,201502,2015,2015.1397,NGAMED,ABUJA,NGA,NaN,NaN,...,NaN,NI,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1

In [81]:
events_recent['SQLDATE'] = pd.to_datetime(events_recent['SQLDATE'])

# Create Month column (first day of month)
events_recent['Month'] = events_recent['SQLDATE'].values.astype('datetime64[M]')

# Create ISO week (year-week format)
# Week number in the month (1 = first week, etc.)
events_recent['WeekOfMonth'] = events_recent['SQLDATE'].apply(
    lambda d: ((d.day - 1) // 7) + 1
)

C:\Users\arthu\AppData\Local\Temp\ipykernel_21304\166146371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_recent['SQLDATE'] = pd.to_datetime(events_recent['SQLDATE'])
C:\Users\arthu\AppData\Local\Temp\ipykernel_21304\166146371.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_recent['Month'] = events_recent['SQLDATE'].values.astype('datetime64[M]')
C:\Users\arthu\AppData\Local\Temp\ipykernel_21304\166146371.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  events_recent['WeekOfMonth'] = events_recent['SQLDATE'].apply(

In [82]:
events_recent

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL,event_lag_days,Month,WeekOfMonth
37,411441452,2015-02-21,201502,2015,2015.1397,CAN,CANADA,CAN,NaN,NaN,...,USMN,NaN,45.73260,-93.91960,MN,2015-02-22 23:45:00,http://www.amny.com/news/sen-charles-schumer-n...,1,2015-02-01,3
38,411441453,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1,2015-02-01,3
39,411441454,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1,2015-02-01,3
40,411441455,2015-02-21,201502,2015,2015.1397,NGA,NIGERIA,NGA,NaN,NaN,...,NI00,23074,4.83333,6.00000,-2020890,2015-02-22 23:45:00,http://nationalmirroronline.net/new/ijaw-youth...,1,2015-02-01,3
41,411441456,2015-02-21,201502,2015,2015.1397,NGAMED,ABUJA,NGA,NaN,NaN,...,NI50,NaN,4.75000,6.83333,-2025387,2015-02-22 23:45:00,http://sunnewsonline.com/new/?p=106083,1,2015-02-01,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4912380,1281452456,2025-12-29,202512,2025,2025.9836,chy,CHEYENNE,NaN,NaN,chy,...,USWY,NaN,43.91660,-110.58400,1605083,2025-12-29 23:45:00,https://www.gillettenewsrecord.com/news/in_bri...,0,2025-12-01,5
4912381,1281452457,2025-12-29,202512,2025,2025.9836,chy,CHEYENNE,NaN,NaN,chy,...,USWY,NaN,42.74750,-107.20900,WY,2025-12-29 23:45:00,https://www.gillettenewsrecord.com/news/in_bri...,0,2025-12-01,5
4912382,1281452458,2025-12-29,202512,2025,2025.9836,chy,CHEYENNE,NaN,NaN,chy,...,USWY,NaN,42.74750,-107.20900,WY,2025-12-29 23:45:00,https://www.gillettenewsrecord.com/news/in_bri...,0,2025-12-01,5
4912383,1281452459,2025-12-29,202512,2025,2025.9836,twi,ASHANTI,NaN,NaN,twi,...,NaN,NaN,NaN,NaN,NaN,2025-12-29 23:45:00,https://www.myk104.com/nelly-and-ashanti-celeb...,0,2025-12-01,5
4912384,1281452460,2025-12-29,202512,2025,2025.9836,twi,ASHANTI,NaN,NaN,twi,...,NaN,NaN,NaN,NaN,NaN,2025-12-29 23:45:00,https://www.myk104.com/nelly-and-ashanti-celeb...,0,2025-12-01,5

In [83]:
eu_countries = [
    "AUT","BEL","FIN","FRA","DEU",
    "IRL","ITA","LUX","NLD","PRT","ESP"
]

actor1 = events_recent[
    events_recent['Actor1CountryCode'].isin(eu_countries)
].copy()

actor1['country'] = actor1['Actor1CountryCode']
actor1['role'] = 'actor1'

actor2 = events_recent[
    events_recent['Actor2CountryCode'].isin(eu_countries)
].copy()

actor2['country'] = actor2['Actor2CountryCode']
actor2['role'] = 'actor2'

long_df = pd.concat([actor1, actor2], ignore_index=True)

In [84]:
event_batches = {
    # Actual economic actions (flows, sanctions, aid)
    'direct_economic_action': [
        '061',   # Cooperate economically
        '071',   # Provide economic aid
        '085',   # Ease economic sanctions
        '1621',  # Reduce or stop economic assistance
        '163'    # Impose sanctions
    ],

    # Policy decisions / institutional change (not signals)
    'economic_policy_action': [
        '1042',  # Demand policy change
        '081'    # Ease administrative sanctions
    ],

    # Forward-looking signals / expectations
    'economic_policy_signal': [
        '014',   # Consider policy option
        '0211',  # Appeal for economic cooperation
        '0231',  # Appeal for economic aid
        '0311',  # Express intent to cooperate economically
        '0331',  # Express intent to provide economic aid
        '0354'   # Express intent to ease economic sanctions
    ],

    # Pressure via threats or demands
    'economic_threat_pressure': [
        '1011',  # Demand economic cooperation
        '1031',  # Demand economic aid
        '1054',  # Demand easing of economic sanctions
        '1311',  # Threaten to reduce or stop aid
        '1312'   # Threaten with sanctions
    ],

    # Explicit rejection / refusal
    'economic_rejection': [
        '1211',  # Reject economic cooperation
        '1221',  # Reject request for economic aid
        '1244'   # Refuse to ease economic sanctions
    ]
}


def map_batch(code):
    for k, v in event_batches.items():
        if str(code) in v:
            return k
    return None

long_df['event_batch'] = long_df['EventCode'].astype(str).apply(map_batch)

long_df = long_df[long_df['event_batch'].notna()]

In [85]:
long_df['EventCode'].value_counts().head(20)

EventCode
071     2814
061     2060
014     1754
081      488
0311     427
163      332
0331     180
0231     157
0211      63
1312      61
085       59
1031      12
1244       9
1042       2
1621       2
1211       2
Name: count, dtype: int64

In [86]:
monthly_agg = (
    long_df
    .groupby([
        'Month',
        'country',
        'role',
        'event_batch'
    ])
    .agg(
        goldstein_mean=('GoldsteinScale', 'mean'),
        goldstein_median=('GoldsteinScale', 'median'),
        event_count=('GoldsteinScale', 'size')
    )
    .reset_index()
)

In [87]:
monthly_agg['goldstein_weighted'] = (
    monthly_agg['goldstein_mean'] * monthly_agg['event_count']
)

monthly_country_role = (
    monthly_agg
    .groupby(['Month', 'country', 'role'])
    .agg(
        monthly_goldstein=('goldstein_weighted', lambda x: x.sum() / monthly_agg.loc[x.index, 'event_count'].sum()),
        monthly_event_count=('event_count', 'sum')
    )
    .reset_index()
)

pivot = monthly_country_role.pivot(
    index=['Month', 'country'],
    columns='role',
    values='monthly_goldstein'
).reset_index()

pivot['net_goldstein'] = pivot.get('actor1', 0) - pivot.get('actor2', 0)

In [88]:
monthly_agg

,Month,country,role,event_batch,goldstein_mean,goldstein_median,event_count,goldstein_weighted
0,2015-02-01,DEU,actor1,direct_economic_action,6.4,6.4,2,12.8
1,2015-02-01,DEU,actor1,economic_policy_signal,0.0,0.0,2,0.0
2,2015-02-01,ESP,actor1,direct_economic_action,7.4,7.4,1,7.4
3,2015-02-01,FIN,actor1,direct_economic_action,7.4,7.4,1,7.4
4,2015-02-01,FRA,actor1,direct_economic_action,-8.0,-8.0,2,-16.0
...,...,...,...,...,...,...,...,...
2831,2025-12-01,ITA,actor2,economic_policy_signal,0.0,0.0,1,0.0
2832,2025-12-01,NLD,actor1,economic_policy_action,5.0,5.0,1,5.0
2833,2025-12-01,NLD,actor1,economic_policy_signal,5.2,5.2,1,5.2
2834,2025-12-01,NLD,actor2,economic_threat_pressure,-5.0,-5.0,1,-5.0
2835,2025-12-01,PRT,actor1,direct_economic_action,6.4,6.4,1,6.4

In [89]:
monthly_agg.sort_values(['Month', 'event_count'], ascending=[True, False]).head(10)

,Month,country,role,event_batch,goldstein_mean,goldstein_median,event_count,goldstein_weighted
8,2015-02-01,ITA,actor1,direct_economic_action,7.257143,7.4,7,50.8
11,2015-02-01,NLD,actor1,economic_policy_action,5.000000,5.0,6,30.0
5,2015-02-01,FRA,actor1,economic_policy_signal,0.000000,0.0,5,0.0
10,2015-02-01,ITA,actor2,direct_economic_action,7.200000,7.4,5,36.0
0,2015-02-01,DEU,actor1,direct_economic_action,6.400000,6.4,2,12.8
1,2015-02-01,DEU,actor1,economic_policy_signal,0.000000,0.0,2,0.0
4,2015-02-01,FRA,actor1,direct_economic_action,-8.000000,-8.0,2,-16.0
6,2015-02-01,FRA,actor2,direct_economic_action,6.400000,6.4,2,12.8
2,2015-02-01,ESP,actor1,direct_economic_action,7.400000,7.4,1,7.4
3,2015-02-01,FIN,actor1,direct_economic_action,7.400000,7.4,1,7.4

In [90]:
monthly_agg[monthly_agg['event_batch'] == 'direct_economic_action']

,Month,country,role,event_batch,goldstein_mean,goldstein_median,event_count,goldstein_weighted
0,2015-02-01,DEU,actor1,direct_economic_action,6.4,6.4,2,12.8
2,2015-02-01,ESP,actor1,direct_economic_action,7.4,7.4,1,7.4
3,2015-02-01,FIN,actor1,direct_economic_action,7.4,7.4,1,7.4
4,2015-02-01,FRA,actor1,direct_economic_action,-8.0,-8.0,2,-16.0
6,2015-02-01,FRA,actor2,direct_economic_action,6.4,6.4,2,12.8
...,...,...,...,...,...,...,...,...
2825,2025-12-01,IRL,actor1,direct_economic_action,6.9,6.9,4,27.6
2827,2025-12-01,IRL,actor2,direct_economic_action,7.4,7.4,3,22.2
2828,2025-12-01,ITA,actor1,direct_economic_action,7.4,7.4,5,37.0
2829,2025-12-01,ITA,actor2,direct_economic_action,6.9,6.9,2,13.8
2835,2025-12-01,PRT,actor1,direct_economic_action,6.4,6.4,1,6.4

In [91]:
monthly_country_role[monthly_country_role['country'] == 'DEU']

          Month country    role  monthly_goldstein  monthly_event_count
0    2015-02-01     DEU  actor1           3.200000                    4
13   2015-03-01     DEU  actor1           3.083333                   12
14   2015-03-01     DEU  actor2           3.581818                   11
29   2015-04-01     DEU  actor1           4.036364                   11
30   2015-04-01     DEU  actor2           4.775000                    8
...         ...     ...     ...                ...                  ...
1773 2025-10-01     DEU  actor1           4.500000                    6
1774 2025-10-01     DEU  actor2           4.800000                    4
1782 2025-11-01     DEU  actor2           5.200000                    2
1792 2025-12-01     DEU  actor1           7.400000                    4
1793 2025-12-01     DEU  actor2           7.000000                    5

[246 rows x 5 columns]

In [93]:
monthly_agg.to_csv("monthly_agg.csv", index=False)

In [95]:
monthly_country_role.to_csv("monthly_country_role.csv", index=False)